-- Table: tenants

CREATE TABLE tenants (
	id SERIAL NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	slug VARCHAR(255) NOT NULL, 
	domain VARCHAR(255), 
	plan VARCHAR(50) NOT NULL, 
	billing_customer_id VARCHAR(255), 
	settings JSON NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (domain)
)


;
-- Table: users

CREATE TABLE users (
	id SERIAL NOT NULL, 
	email VARCHAR NOT NULL, 
	username VARCHAR NOT NULL, 
	hashed_password VARCHAR NOT NULL, 
	full_name VARCHAR, 
	role userrole NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
	updated_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id)
)


;
-- Table: api_keys

CREATE TABLE api_keys (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	key_hash VARCHAR(255) NOT NULL, 
	permissions JSON NOT NULL, 
	rate_limit INTEGER NOT NULL, 
	description VARCHAR(500), 
	is_active BOOLEAN NOT NULL, 
	last_used TIMESTAMP WITH TIME ZONE, 
	expires_at TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id)
)


;
-- Table: campaigns

CREATE TABLE campaigns (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	name VARCHAR(255) NOT NULL, 
	description TEXT, 
	type VARCHAR(20) NOT NULL, 
	status VARCHAR(20) NOT NULL, 
	created_by INTEGER NOT NULL, 
	scheduled_at TIMESTAMP WITH TIME ZONE, 
	started_at TIMESTAMP WITH TIME ZONE, 
	ended_at TIMESTAMP WITH TIME ZONE, 
	target_criteria JSON, 
	message_template TEXT NOT NULL, 
	personalization_fields JSON, 
	send_immediately BOOLEAN NOT NULL, 
	respect_time_zones BOOLEAN NOT NULL, 
	send_time_start VARCHAR(5), 
	send_time_end VARCHAR(5), 
	total_recipients INTEGER NOT NULL, 
	messages_sent INTEGER NOT NULL, 
	messages_delivered INTEGER NOT NULL, 
	messages_read INTEGER NOT NULL, 
	replies_received INTEGER NOT NULL, 
	opt_outs INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(created_by) REFERENCES users (id)
)


;
-- Table: contacts

CREATE TABLE contacts (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100), 
	email VARCHAR(255), 
	company VARCHAR(255), 
	job_title VARCHAR(255), 
	opt_in_status BOOLEAN NOT NULL, 
	opt_in_date TIMESTAMP WITH TIME ZONE, 
	opt_out_date TIMESTAMP WITH TIME ZONE, 
	tags TEXT, 
	notes TEXT, 
	source VARCHAR(100), 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	last_contacted TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id)
)


;
-- Table: otp_codes

CREATE TABLE otp_codes (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	phone_number VARCHAR(20) NOT NULL, 
	code VARCHAR(10) NOT NULL, 
	purpose VARCHAR(50) NOT NULL, 
	verified_at TIMESTAMP WITH TIME ZONE, 
	is_verified BOOLEAN NOT NULL, 
	attempts INTEGER NOT NULL, 
	max_attempts INTEGER NOT NULL, 
	expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id)
)


;
-- Table: tenant_users

CREATE TABLE tenant_users (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	role VARCHAR(50) NOT NULL, 
	invited_by INTEGER, 
	is_active BOOLEAN NOT NULL, 
	joined_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(invited_by) REFERENCES users (id)
)


;
-- Table: usage_records

CREATE TABLE usage_records (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	messages_sent INTEGER NOT NULL, 
	messages_delivered INTEGER NOT NULL, 
	messages_failed INTEGER NOT NULL, 
	api_calls INTEGER NOT NULL, 
	contacts_count INTEGER NOT NULL, 
	conversations_count INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id)
)


;
-- Table: campaign_steps

CREATE TABLE campaign_steps (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	campaign_id INTEGER NOT NULL, 
	step_number INTEGER NOT NULL, 
	title VARCHAR(255), 
	description VARCHAR(500), 
	delay_hours INTEGER NOT NULL, 
	delay_type VARCHAR(50) NOT NULL, 
	message_template VARCHAR(2000) NOT NULL, 
	template_variables JSON NOT NULL, 
	conditions JSON, 
	max_retries INTEGER NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	order_index INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(campaign_id) REFERENCES campaigns (id)
)


;
-- Table: conversations

CREATE TABLE conversations (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	contact_id INTEGER NOT NULL, 
	assigned_to INTEGER, 
	subject VARCHAR(255), 
	status VARCHAR(20) NOT NULL, 
	priority VARCHAR(10) NOT NULL, 
	whatsapp_conversation_id VARCHAR(255), 
	last_message_at TIMESTAMP WITH TIME ZONE, 
	last_message_from_contact BOOLEAN NOT NULL, 
	unread_count INTEGER NOT NULL, 
	tags TEXT, 
	notes TEXT, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	closed_at TIMESTAMP WITH TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id) ON DELETE CASCADE, 
	FOREIGN KEY(assigned_to) REFERENCES users (id) ON DELETE SET NULL
)


;
-- Table: invoices

CREATE TABLE invoices (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	contact_id INTEGER, 
	invoice_number VARCHAR(100) NOT NULL, 
	amount FLOAT NOT NULL, 
	currency VARCHAR(3) NOT NULL, 
	status VARCHAR(50) NOT NULL, 
	issue_date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	due_date TIMESTAMP WITH TIME ZONE NOT NULL, 
	paid_at TIMESTAMP WITH TIME ZONE, 
	external_id VARCHAR(255), 
	payment_method VARCHAR(50), 
	description VARCHAR(500), 
	items VARCHAR(500), 
	notes VARCHAR(1000), 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id)
)


;
-- Table: leads

CREATE TABLE leads (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	contact_id INTEGER NOT NULL, 
	assigned_to INTEGER, 
	campaign_id INTEGER, 
	title VARCHAR(255) NOT NULL, 
	description TEXT, 
	status VARCHAR(20) NOT NULL, 
	priority VARCHAR(10) NOT NULL, 
	source VARCHAR(50) NOT NULL, 
	estimated_value NUMERIC(10, 2), 
	currency VARCHAR(3) NOT NULL, 
	probability INTEGER NOT NULL, 
	expected_close_date TIMESTAMP WITH TIME ZONE, 
	actual_close_date TIMESTAMP WITH TIME ZONE, 
	last_contact_date TIMESTAMP WITH TIME ZONE, 
	next_follow_up TIMESTAMP WITH TIME ZONE, 
	lead_score INTEGER NOT NULL, 
	qualification_notes TEXT, 
	pain_points JSON, 
	budget_range VARCHAR(100), 
	decision_maker BOOLEAN NOT NULL, 
	conversion_source VARCHAR(100), 
	utm_source VARCHAR(100), 
	utm_medium VARCHAR(100), 
	utm_campaign VARCHAR(100), 
	notes TEXT, 
	tags TEXT, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id) ON DELETE CASCADE, 
	FOREIGN KEY(assigned_to) REFERENCES users (id) ON DELETE SET NULL, 
	FOREIGN KEY(campaign_id) REFERENCES campaigns (id) ON DELETE SET NULL
)


;
-- Table: orders

CREATE TABLE orders (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	contact_id INTEGER, 
	order_number VARCHAR(100) NOT NULL, 
	status VARCHAR(50) NOT NULL, 
	total_amount FLOAT NOT NULL, 
	currency VARCHAR(3) NOT NULL, 
	external_id VARCHAR(255), 
	external_platform VARCHAR(50), 
	description VARCHAR(500), 
	shipping_address VARCHAR(500), 
	notes VARCHAR(1000), 
	order_date TIMESTAMP WITH TIME ZONE NOT NULL, 
	shipped_date TIMESTAMP WITH TIME ZONE, 
	delivered_date TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id)
)


;
-- Table: phone_numbers

CREATE TABLE phone_numbers (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	contact_id INTEGER NOT NULL, 
	number VARCHAR(20) NOT NULL, 
	country_code VARCHAR(5) NOT NULL, 
	type VARCHAR(20) NOT NULL, 
	is_whatsapp_verified BOOLEAN NOT NULL, 
	whatsapp_id VARCHAR(100), 
	is_primary BOOLEAN NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	verification_date TIMESTAMP WITH TIME ZONE, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id) ON DELETE CASCADE
)


;
-- Table: contact_campaign_progress

CREATE TABLE contact_campaign_progress (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	contact_id INTEGER NOT NULL, 
	campaign_id INTEGER NOT NULL, 
	current_step INTEGER NOT NULL, 
	current_step_id INTEGER, 
	status VARCHAR(50) NOT NULL, 
	started_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	last_step_at TIMESTAMP WITH TIME ZONE, 
	completed_at TIMESTAMP WITH TIME ZONE, 
	next_step_scheduled_at TIMESTAMP WITH TIME ZONE, 
	steps_completed INTEGER NOT NULL, 
	messages_sent INTEGER NOT NULL, 
	replies_received INTEGER NOT NULL, 
	last_engagement_at TIMESTAMP WITH TIME ZONE, 
	campaign_data JSON NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id), 
	FOREIGN KEY(campaign_id) REFERENCES campaigns (id), 
	FOREIGN KEY(current_step_id) REFERENCES campaign_steps (id)
)


;
-- Table: messages

CREATE TABLE messages (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	campaign_id INTEGER, 
	conversation_id INTEGER NOT NULL, 
	phone_number_id INTEGER NOT NULL, 
	content TEXT NOT NULL, 
	message_type VARCHAR(20) NOT NULL, 
	direction VARCHAR(10) NOT NULL, 
	whatsapp_message_id VARCHAR(255), 
	whatsapp_status VARCHAR(20), 
	status VARCHAR(20) NOT NULL, 
	sent_at TIMESTAMP WITH TIME ZONE, 
	delivered_at TIMESTAMP WITH TIME ZONE, 
	read_at TIMESTAMP WITH TIME ZONE, 
	failed_at TIMESTAMP WITH TIME ZONE, 
	error_code VARCHAR(50), 
	error_message TEXT, 
	retry_count INTEGER NOT NULL, 
	max_retries INTEGER NOT NULL, 
	media_url VARCHAR(500), 
	media_type VARCHAR(50), 
	media_size INTEGER, 
	template_name VARCHAR(255), 
	template_variables JSON, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(campaign_id) REFERENCES campaigns (id) ON DELETE SET NULL, 
	FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE, 
	FOREIGN KEY(phone_number_id) REFERENCES phone_numbers (id) ON DELETE CASCADE
)


;
-- Table: order_items

CREATE TABLE order_items (
	id SERIAL NOT NULL, 
	order_id INTEGER NOT NULL, 
	sku VARCHAR(100), 
	product_name VARCHAR(255) NOT NULL, 
	quantity INTEGER NOT NULL, 
	packed_quantity INTEGER NOT NULL, 
	price FLOAT NOT NULL, 
	is_packed BOOLEAN NOT NULL, 
	notes VARCHAR(500), 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(order_id) REFERENCES orders (id)
)


;
-- Table: packing_list_messages

CREATE TABLE packing_list_messages (
	id SERIAL NOT NULL, 
	order_id INTEGER NOT NULL, 
	message_id INTEGER, 
	message_type VARCHAR(50) NOT NULL, 
	sent_at TIMESTAMP WITH TIME ZONE, 
	is_sent BOOLEAN NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(order_id) REFERENCES orders (id), 
	FOREIGN KEY(message_id) REFERENCES messages (id)
)


;
-- Table: payment_reminders

CREATE TABLE payment_reminders (
	id SERIAL NOT NULL, 
	tenant_id INTEGER NOT NULL, 
	invoice_id INTEGER NOT NULL, 
	reminder_type VARCHAR(50) NOT NULL, 
	days_before_due INTEGER NOT NULL, 
	message_template VARCHAR(500), 
	template_variables VARCHAR(500), 
	scheduled_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	sent_at TIMESTAMP WITH TIME ZONE, 
	is_sent BOOLEAN NOT NULL, 
	message_id INTEGER, 
	retry_count INTEGER NOT NULL, 
	max_retries INTEGER NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(invoice_id) REFERENCES invoices (id), 
	FOREIGN KEY(message_id) REFERENCES messages (id)
)


;
-- Table: replies

CREATE TABLE replies (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	conversation_id INTEGER NOT NULL, 
	original_message_id INTEGER, 
	content TEXT NOT NULL, 
	whatsapp_message_id VARCHAR(255), 
	reply_type VARCHAR(20), 
	sentiment_score VARCHAR(10), 
	intent VARCHAR(100), 
	status VARCHAR(20) NOT NULL, 
	is_processed BOOLEAN NOT NULL, 
	processed_at TIMESTAMP WITH TIME ZONE, 
	processed_by INTEGER, 
	ai_analysis JSON, 
	confidence_score VARCHAR(10), 
	requires_response BOOLEAN NOT NULL, 
	response_deadline TIMESTAMP WITH TIME ZONE, 
	responded_at TIMESTAMP WITH TIME ZONE, 
	response_message_id INTEGER, 
	received_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE, 
	FOREIGN KEY(original_message_id) REFERENCES messages (id) ON DELETE SET NULL, 
	FOREIGN KEY(processed_by) REFERENCES users (id) ON DELETE SET NULL, 
	FOREIGN KEY(response_message_id) REFERENCES messages (id) ON DELETE SET NULL
)


;
-- Table: unsubscribers

CREATE TABLE unsubscribers (
	id SERIAL NOT NULL, 
	tenant_id INTEGER, 
	contact_id INTEGER NOT NULL, 
	campaign_id INTEGER, 
	message_id INTEGER, 
	reason VARCHAR(50), 
	method VARCHAR(20) NOT NULL, 
	feedback TEXT, 
	processed_by INTEGER, 
	trigger_message_content TEXT, 
	trigger_whatsapp_id VARCHAR(255), 
	confirmation_sent TIMESTAMP WITH TIME ZONE, 
	resubscribe_token VARCHAR(255), 
	unsubscribed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
	created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
	FOREIGN KEY(contact_id) REFERENCES contacts (id) ON DELETE CASCADE, 
	FOREIGN KEY(campaign_id) REFERENCES campaigns (id) ON DELETE SET NULL, 
	FOREIGN KEY(message_id) REFERENCES messages (id) ON DELETE SET NULL, 
	FOREIGN KEY(processed_by) REFERENCES users (id) ON DELETE SET NULL
)


;
